body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#canvas-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chess-board {
    display: block;
    width: 80vh;
    height: 80vh;
    border: 1vh solid rgb(20, 20, 20);
}