
body{
    background-color: coral;
    margin: 0em;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    padding-top: 1em;
}

#header>h1:nth-child(1) {
    margin: 0em 0em 0em 3em;
}

#enter {
    margin-right: 5em;
}

#description {
    margin:auto;
}
#desc-wrap{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
