@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
}

#canvas-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9e5050;
}

#canvas-wrapper h1 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 5px 5px black;
}

#chess-board {
    display: block;
    width: 80vh;
    height: 80vh;
    border: 1vh solid rgb(20, 20, 20);
}

#cat {
    position: absolute;
    right: 5em;
    bottom: 0px;
    height: 10em;
}